.container{
    margin-bottom: 90px;
}
.navbar ul li{
    margin-left: 15px;
}

.carousel-item {
    padding: 20px 100px;
}
.carousel-indicators .active{
    background-color:grey;
    
}
.carousel-indicators li{
    background-color:lightgrey;
}


.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.bg-image{
    background-image: url(images/bg-1.png),url(images/bg-2.png);
    background-position: center, left bottom;
    background-repeat: no-repeat ,no-repeat;
    background-size: auto , auto;
}
.see{
    color: orange;
}
.card-deck{
    margin-top:10px;
}
.card{
    border: none;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    border: none;
    background-color: white;
    margin-top: 15px;
}
.price{
    margin-top: 20px;
}
.cat{
    text-align: center;
}
.underline{
    background-image: linear-gradient(to right,orange,rgb(255, 200, 97));
    width: 140px;
    height: 8px;
    border-radius: 5px;
}


